.dice {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 150px;
    height: 150px;
    
    &>img {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        width: 150px;
        height: 150px;
        position: absolute;
        opacity: 0;
        background: var(--white);
        border-radius: 10px;
        transition: 1.5s ease-in-out;
        transform: rotateX(-360deg);

        &.active {
            opacity: 1;
            transform: rotateX(360deg);
        }
    }
    
    @media screen and (max-width: 750px) {
        
        width: 70px;
        height: 70px;
        margin: 0;

        &>img {
            width: 70px;
            height: 70px;
        }
    }
}