* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 400;
}

body {
    background-image: url(../assets/img/Background.jpg);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    @media screen and (max-width: 760px) {
        padding: 10px;

        &>main {
            height: 70%;
            top: 0;
        }
    }
}

main {
    width: 100%;
    height: 100%;
    background: var(--white);
}

header, footer {
    position: absolute;
}

.red-round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--red);
}

.disabled {
    filter: opacity(0.5);
}