* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 400;
}

body {
    background-image: url(../assets/img/Background.jpg);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    @media screen and (max-width: 760px) {
        padding: 10px;

        &>main {
            height: 70%;
            top: 0;
        }
    }
}

main {
    width: 100%;
    height: 100%;
    background: var(--white);
}

header, footer {
    position: absolute;
}

.red-round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--red);
}

.disabled {
    filter: opacity(0.5);
}

.close-btn {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    fill: var(--red);
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
        transform: rotate(0.25turn);
    }
}

.modal {
    background: var(--secondary);
    border: solid 4px var(--red);
    border-radius: 10px;
    box-shadow: inset 5px 5px 30px rgba($color: #000000, $alpha: 0.4);
}