:root {
  --white: #fff;
  --grey: #e0e0e0;
  --red: #ea4d4c;
  --secondary: #2a324b;
  --text: #3d3737;
  --link: #4C70EF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 400;
}

body {
  background-image: url(../assets/img/Background.jpg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media screen and (max-width: 760px) {
  body {
    padding: 10px;
  }
  body > main {
    height: 70%;
    top: 0;
  }
}

main {
  width: 100%;
  height: 100%;
  background: var(--white);
}

header, footer {
  position: absolute;
}

.red-round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--red);
}

.disabled {
  filter: opacity(0.5);
}

header {
  top: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
header > .new-game {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header > .new-game > svg {
  width: 50px;
  height: 50px;
  fill: var(--red);
}
@media screen and (max-width: 760px) {
  header {
    height: 100px;
  }
}

footer {
  bottom: -150px;
  width: 100%;
  transition: 0.3s ease-out;
}
footer:hover {
  bottom: 0;
}
footer > .footer-show {
  height: 30px;
  width: 100%;
}
footer > .content {
  width: 100%;
  height: 150px;
  background: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer > .content > h2, footer > .content p {
  color: var(--white);
  font-weight: 700;
}
footer > .content > button {
  border: none;
  border-radius: 10px;
  padding: 7px 20px;
  background: var(--text);
  color: var(--link);
  cursor: pointer;
  font-weight: 400;
  transition: 0.1s ease-out;
}
footer > .content > button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 650px) {
  footer {
    bottom: 0;
  }
  footer > .footer-show {
    display: none;
  }
  footer > .content {
    flex-direction: column;
    padding: 20px 10px;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}
main > .player-one,
main .player-two {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  transition: 0.1s ease-out;
}
main > .player-one > .player > span,
main .player-two > .player > span {
  display: none;
}
main > .player-one.active,
main .player-two.active {
  background: var(--grey);
}
main > .player-one.active > .player,
main .player-two.active > .player {
  display: flex;
  align-items: center;
  gap: 10px;
}
main > .player-one.active > .player > h2,
main .player-two.active > .player > h2 {
  font-weight: 400;
}
main > .player-one.active > .player > span,
main .player-two.active > .player > span {
  display: block;
}
main > .player-one > .score,
main .player-two > .score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
main > .player-one > .score > .global,
main .player-two > .score > .global {
  font-size: 5em;
  color: var(--red);
}
main > .player-one > .score > .global.fade,
main .player-two > .score > .global.fade {
  -webkit-animation: fadeIn 0.8s ease-out;
          animation: fadeIn 0.8s ease-out;
}
main > .player-one > .score > .current-score,
main .player-two > .score > .current-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--red);
  padding: 20px;
}
main > .player-one > .score > .current-score > .current,
main .player-two > .score > .current-score > .current {
  color: var(--white);
  font-size: 2em;
}
main > .player-one > .score > .current-score > .current.fade,
main .player-two > .score > .current-score > .current.fade {
  -webkit-animation: fadeIn 0.8s ease-out;
          animation: fadeIn 0.8s ease-out;
}
main .player-one.active {
  box-shadow: 5px 0 50px rgba(0, 0, 0, 0.3);
}
main .player-two.active {
  box-shadow: -5px 0 50px rgba(0, 0, 0, 0.3);
}
main > .commande {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main > .commande > button {
  border: none;
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main > .commande > button > svg {
  fill: var(--red);
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 760px) {
  main {
    flex-direction: column;
  }
  main > .player-one,
main .player-two {
    width: 100%;
    flex-direction: row;
  }
  main > .player-one > .player,
main .player-two > .player {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  main > .player-one > .score,
main .player-two > .score {
    width: 50%;
    gap: 10px;
    font-size: 0.6em;
  }
  main > .commande {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15px;
    top: 46%;
    height: auto;
    font-size: 0.9em;
  }
  main .player-one.active {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  }
  main .player-two.active {
    box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 1;
  }
  98% {
    transform: scale(2);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  98% {
    transform: scale(2);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 1;
  }
  98% {
    transform: scale(2);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.dice {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 150px;
  height: 150px;
}
.dice > img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  background: var(--white);
  border-radius: 10px;
  transition: 1.5s ease-in-out;
  transform: rotateX(-360deg);
}
.dice > img.active {
  opacity: 1;
  transform: rotateX(360deg);
}
@media screen and (max-width: 750px) {
  .dice {
    width: 70px;
    height: 70px;
    margin: 0;
  }
  .dice > img {
    width: 70px;
    height: 70px;
  }
}

.rules {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: none;
}
.rules.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rules > .overlay {
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  position: absolute;
}
.rules > .content {
  z-index: 100;
  background: var(--secondary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  padding: 50px;
  position: relative;
}
.rules > .content > button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  fill: var(--red);
  transition: 0.3s ease-out;
  cursor: pointer;
}
.rules > .content > button:hover {
  transform: rotate(0.25turn);
}
.rules > .content > h2, .rules > .content p {
  color: var(--white);
  font-weight: 400;
}
.rules > .content > h2 {
  margin-bottom: 30px;
}
.rules > .content > ul > li {
  margin-bottom: 10px;
}/*# sourceMappingURL=index.css.map */